nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background-color: rgb(95, 169, 144);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
